
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Bb]uild*/
[Bb]uilds/
UserSettings/
.vs/

.vscode/
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.unityproj
venv*/
*.demo
*.yaml
results/


.DS_Store
*.apk
*.aab
*.tmp
*.bak

*.unitypackage
